@font-face {
  font-family: "Rubik-Regular-h4";
  font: 500;
  src: url(/fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
  font-family: "Rubik-Regular";
  font: 400;
  src: url(/fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
  font-family: "Rubik-Medium";
  font-weight: 500;
  src: url(/fonts/Rubik/Rubik-Medium.ttf);
}

@font-face {
  font-family: "Rubik-SemiBold";
  font-weight: 600;
  src: url(/fonts/Rubik/Rubik-SemiBold.ttf);
}

@font-face {
  font-family: "Rubik-Bold";
  font-weight: 700;
  src: url(/fonts/Rubik/Rubik-Bold.ttf);
}

@font-face {
  font-family: "Extra-Bold";
  font-family: 900;
  src: url(/fonts/Rubik/Rubik-ExtraBold.ttf);
}

/* Start Global Variables */

:root {
  --h1: "Rubik-Bold";
  --h2: "Rubik-SemiBold";
  --h3: "Rubik-Medium";
  --h4: "Rubik-Regular-h4";
  --body: "Rubik-Regular";
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #e3aa0d;
  --color-gray: #6c757d;
}

p {
  font-family: var(--body);
  line-height: 20px;
  color: var(--color-white);
  font-size: 16px;
}

h1 {
  font-family: var(--h1);
  color: var(--color-white);
}

h2 {
  font-family: var(--h2);
  color: var(--color-white);
  font-size: 32px;
}

h3 {
  font-family: var(--h3);
  color: var(--color-yellow);
  font-size: 20px;
}

h4 {
  font-family: var(--h4) !important;
  color: var(--color-yellow);
  font-size: 18px !important;
}

a {
  text-decoration: none;
}
/* End Global Variables */

/* Start Header */
.classy-navbar .nav-brand {
  width: 30%;
}

.dark.classy-nav-container a {
  border: 0;
  cursor: pointer;
}

.dropdown-menu {
  min-width: 12rem;
  height: 210px;
}

.dropdown-menu.show {
  margin: 10px 0 !important;
}

a.dream-btn {
  font-size: 12px !important;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--color-black) !important;
}

a.dream-btn:hover {
  color: var(--color-black) !important;
  font-weight: bold;
}

/* End Header */

body {
  font-family: var(--body);
}

/* Start Section 1 */

.dream-btn {
  height: 35px;
  border-radius: 8px;
  background: var(--color-yellow);
  color: var(--color-black);
  font-weight: bold;
  font-size: 12px;
  padding: 6px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dream-btn:hover {
  background: #866303;
  color: #000;
  font-weight: bold;
}

.promo-section {
  margin-bottom: 10px;
}

.welcome-content h1 {
  font-family: var(--h1);
  line-height: 4rem;
  margin: 0;
}

.welcome-content p {
  font-family: var(--body);
  line-height: 24px;
}

img.arrow {
  width: 90%;
}

.integration-link:before {
  background-image: none;
}

.text-features {
  text-decoration: none;
  background-color: var(--color-yellow);
  font-size: 18px;
  font-family: var(--h3);
  color: var(--color-black);
  padding: 10px 30px;
  border-radius: 8px;
}

.text-features:hover {
  background-color: #866303;
  color: #000;
}

/* End Section 1 */

/* Start Section 2 */
.section-before:before {
  top: -125px;
  background-size: cover;
}

.section-heading {
  margin-bottom: 40px;
}
/* End Section 2 */

/* Start Section 3 */

hr.gradient {
  width: 50%;
  height: 5px;
  border: none;
  border-radius: 6px;
  background-color: #f7b80b;
  margin: 0 auto;
}

.services-block-four .inner-box .icon-box {
  color: var(--color-yellow);
}

.services-block-four .inner-box .icon-box:after {
  background: linear-gradient(
    to top right,
    #ffd401,
    #ffde33 28%,
    #9f8400 50%,
    #735f0a 79%,
    #533b04
  );
}

.services-block-four .inner-box .icon-box:before {
  background: var(--color-white);
}

.phone-img {
  margin-left: 30px;
  padding-top: 40px;
}

.services-block-four .inner-box .icon-box:before {
  height: 75%;
}

/* End Section 3 */
@media (min-width: 1200px) {
  .main-ilustration {
    min-width: 640px;
    margin: 0;
    padding: 0;
  }
}

/* Footer Start */
.footer-logo img {
  width: 35%;
}

.footer-follow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 24px 0 0;
  margin-bottom: 10px;
}

.follow {
  font-size: 26px;
  color: var();
  border: 2px solid var(--color-white);
  padding: 6px;
  border-radius: 8px;
}

.footer-content-area {
  padding: 40px 0;
  background-color: #252525;
}
/* End Footer Section */

/* Start Carousel Section */

.project-screen .project-detail {
  background-color: transparent;
}

.slick-list {
  border-radius: 20px;
}

/* End Carousel Section */

/* Start form-register */
#form-register {
  display: flex;
  justify-content: center;
}

.hs-form-private {
  padding: 30px 5rem;
}

#form-register input,
#form-register select {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  padding: 0 10px;
}

#form-register .input .hs-fieldtype-intl-phone {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

#form-register .hbspt-form {
  background-color: #7a6d2b2d;
  border-radius: 20px;
}

#form-register .hs-fieldtype-intl-phone.hs-input:after {
  display: none !important;
}

#form-register .hs-form-booleancheckbox-display {
  display: flex;
}

#form-register .inputs-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

#form-register .hs-form-booleancheckbox-display {
  display: flex;
  align-items: center;
}

#form-register .hs-form-booleancheckbox input {
  width: 18px;
  height: 18px;
}

#form-register .hs-error-msg {
  color: red;
}

#form-register .hbspt-form {
  width: 100%;
  max-width: 50rem;
}

#form-register .hs_recaptcha {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

#form-register select {
  text-align: center;
}

#form-register .hs-button {
  width: 100%;
  max-width: 60%;
  border-radius: 12px;
  margin-bottom: 20px;
}

#form-register label {
  color: var(--color-white);
  margin-top: 20px;
  margin-bottom: 0;
}

#form-register h2 {
  font-size: 44px !important;
}

#form-register a {
  color: var(--color-yellow);
}

/* Start Cards Section */

.shadow-blur {
  background-color: transparent;
  position: relative;
}

.shadow-blur:before {
  content: "";
  z-index: 1;
  position: absolute;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 16px 2px rgb(0 0 0);
  left: 3px;
  right: 30%;
  width: 9%;
  height: calc(100% - 43px);
  -moz-border-radius: 100%;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.shadow-blur:after {
  content: "";
  z-index: 1;
  position: absolute;
  left: -20px;
  width: 25%;
  top: 0;
  height: 100%;
  background-color: #f8f9fa;
  border-right: 1px solid #252424;
}

.in-shadow {
  position: relative;
  padding: 4px 0;
  background: #f8f9fa;
}

.image-shadow {
  background: gold;
  border-radius: 0 60px 60px 0;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.card-feature {
  width: 100%;
  max-width: 894px;
  border-radius: 50px;
  background-color: gold;
}

/* End Cards Section */

/* Divider */

.wrapper {
  padding-bottom: 0;
}

.divider {
  position: relative;
  margin-top: 50px;
  height: 3px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(48, 49, 51),
    transparent
  );
}

.div-dot:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: var(--color-yellow);
  border: 2px solid rgb(30, 30, 31);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white, 0 0 0 4px var(--color-yellow);
}

/* End Divider */
